node_modules
.tmp

# Output
.output
.vercel
/.svelte-kit
/build
/playwright-report
/test-results

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.env.bkup.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
.idea/*
.idea/workspace.xml


# Local Netlify folder
.netlify

# Local Supabase CLI state
supabase/.temp
supabase/.branches
